<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h3>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h3>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
 
  <div class="mb-3">
    <%= form.label :text, class:'formm-label' %><br>
    <%= form.text_area :text, class: 'form-control' %>
  </div>
 
  <%= form.submit :Submit, class: 'btn btn-primary'%>
  
 
<% end %>