<div class="container mt-5 d-flex justify-content-center">
    <div class="card" style="width: 600px;">
        <div class="card-body">
            <div class="card-title d-flex">
                <h2 class="fw-bolder"><%= @article.title %></h2>
                <div class="ms-auto">
                    <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary btn-sm px-4' %>
                    <%= link_to 'Back', articles_path, class: 'btn btn-outline-primary btn-sm ms-2 px-4' %>
                </div>
            </div>
            <p class="card-text"><%= @article.text %></p>
            <hr />
            <!-- Comments Section -->
            <h5>Comments</h5>
            <%= render @article.comments %>
            <% if user_signed_in? %>
            <%= render 'comments/form' %>
            <% end %>
        </div>
    </div>
</div>